# Image files
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.svg binary
*.webp binary
*.avif binary
*.bmp binary
*.tiff binary

# Font files
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary

# Other binary files
*.pdf binary
*.zip binary
*.gz binary
*.mp4 binary
*.mp3 binary
*.mov binary
*.avi binary
